*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  
}

.app{
  background-color: rgb(243, 151, 151);
  min-height: 100vh;
  color: white;
  font-family: "Poppins", sans-serif;
}
header h1{
  text-align: center;
  font-size: 4rem;
}

header button{
  position: relative;
  left: 120px;
}
.btn1{
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: none;
  background: #2D46B9 ;
  color: #fff;
  cursor: pointer;
}
.btn1:hover{
  border: 2px solid #fff;
}

header,form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

form input{
  padding:10px;
  width: 260px;
  border: none;
}

.btn{
  padding: 10px 20px 10px 20px;
  margin-left: 5px;
  background-color:#a7222b ;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover{
  border: 3px solid rgb(68, 2, 2);
}
.select{
  margin-left: 10px;
}

select{
  width: 120px;
  padding: 10px;
  border: none;
  font-size: 15px;
  border-radius: 7px;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
.todocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.todo{
  margin: 0.5rem;
  background: white;
  padding: 10px 20px 10px 20px;
  width: 350px;
  font-size: 1.5rem;
  border-radius: 7px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s ease;
}

.todo li{
  list-style: none;
  min-width: 30%;
}



.complete-btn{
  background-color: #f8a915 ;
  border: none;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  color: #fff;
  margin-left: 50px;
  font-size: 16px;
  cursor: pointer;
}

.complete-btn:hover{
  border: 2px solid #a7222b ;
}

.trash-btn{
  background-color: #a7222b  ;
  border: none;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.trash-btn:hover{
  background: rgb(236, 121, 121);
}